.asSeenOn {
    background-color: #3C4048;
    height: 150px;
    display: flex;
    justify-content: center;}

.public__addr {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 0px;
    color: white;
    text-align: center;
    font-size: 2rem;
}



    