.navbar{
    background-color:#B2B2B2;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 999;
    
    }

       
    .logo, .links{
        color: white; 
        padding: 10px 20px;
        border-radius: 5px;
        border: 5px solid white; 
        cursor: pointer;
        background-color: #00ABB3;
        display: flex;
        align-items: center;
    }
 
   .topNav{
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .logo{
    width: max-content;
    display: flex;
   }